@import "tailwindcss";

html, body, #__next {
  height: 100%;
}
body {
  font-family: Inter, system-ui;
  background-color: #1A1F23;
  color: #EFF1F3;
}

/* Card */
.card {
  @apply bg-[#0D1821] rounded-2xl shadow-md p-4;
}